<h1>BLOG TALLER DE PROGRAMACION</h1>

<ul>
	<% @posts.each do |post| %>
      <li>
      	<h3><%= link_to post.title, post %></h3>
      	<p><%= post.content %></p>
      	<p><%= post.created_at %></p>
      </li>
	<% end %>
</ul>